body {
	background: black;
}

.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
	padding: 10px;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 85%;
	margin: 0;
	margin-top: 5px;
	font-family: Anybody;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left,
.body-right {
	padding: 10px;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.body-left {
	padding: 15px;
	text-align: left;
}

.input {
	height: 30px;
	border: none;
	border-bottom: 1px solid rgb(188, 185, 185);
}

p {
	font-size: 15px;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: rgb(13, 181, 237);
	padding: 5px;
	color: black;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
